<!DOCTYPE html>
<html lang="<%- language %>">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <title><%- title %></title>
    <meta name="description" content="<%- description %>">
    <link type="text/plain" rel="author" href="/humans.txt" />
    <%- scripts %>
    <%- styles %>
</head>
<body>

<main id="main"><%- html %></main>
<%- svg %>
<script id="state-script">window.INITIAL_STATE = <%- state %>;</script>
</body>
</html>
